
body {
  width: 700px;
  margin: 100px auto;
  background: #eee;
}

#chat-log {
  border: 1px solid #666;
  background: #fff;
  height: 400px;
  overflow: auto;
}

#message-form {
  input[type=text] {
    padding: 5px;
    border-width: 1px;
    width: 688px;
  }
}

