<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="stylesheets/application.css" rel="stylesheet" media="screen" type="text/css" />
  <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/application.js"></script>
</head>
<body>
  <pre id="chat-log"></pre>
  
  <form id="message-form">
    <input type="text" name="message" placeholder="Mensagem" />
    <input type="submit" value="Enviar" />
  </form>
</body>
</html>
